[submodule "c/azure-c-shared-utility"]
	path = c/azure-c-shared-utility
	url = https://github.com/Azure/azure-c-shared-utility.git
[submodule "c/azure-umqtt-c"]
	path = c/azure-umqtt-c
	url = https://github.com/Azure/azure-umqtt-c.git
	branch = develop
[submodule "c/azure-uamqp-c"]
	path = c/azure-uamqp-c
	url = https://github.com/Azure/azure-uamqp-c.git
	branch = master
[submodule "c/parson"]
	path = c/parson
	url = https://github.com/kgabis/parson
[submodule "csharp/device/external_modules/dotnetty"]
	path = csharp/device/external_modules/dotnetty
	url = https://github.com/Azure/DotNetty.git
	branch = dev
[submodule "c/iothub_service_client/parson"]
	path = c/iothub_service_client/parson
	url = https://github.com/kgabis/parson
