[submodule "tools/device-discovery-cli"]
	path = tools/device-discovery-cli
	url = https://github.com/Azure/device-discovery-cli.git
	branch = develop
[submodule "node"]
	path = node
	url = https://github.com/azure/azure-iot-sdk-node
[submodule "tools/iothub-explorer"]
	path = tools/iothub-explorer
	url = https://github.com/azure/iothub-explorer
[submodule "tools/iothub-diagnostics"]
	path = tools/iothub-diagnostics
	url = https://github.com/azure/iothub-diagnostics
[submodule "java"]
	path = java
	url = https://github.com/azure/azure-iot-sdk-java.git
[submodule "javawrapper"]
	path = javawrapper
	url = https://github.com/azure/azure-iot-sdk-javawrapper.git
[submodule "csharp"]
	path = csharp
	url = https://github.com/azure/azure-iot-sdk-csharp.git
[submodule "c"]
	path = c
	url = https://github.com/azure/azure-iot-sdk-c.git
