<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetty.Buffers-signed" version="0.3.2" targetFramework="net451" />
  <package id="DotNetty.Codecs.Mqtt-signed" version="0.3.2" targetFramework="net451" />
  <package id="DotNetty.Codecs-signed" version="0.3.2" targetFramework="net451" />
  <package id="DotNetty.Common-signed" version="0.3.2" targetFramework="net451" />
  <package id="DotNetty.Handlers-signed" version="0.3.2" targetFramework="net451" />
  <package id="DotNetty.Transport-signed" version="0.3.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Azure.Amqp" version="1.1.5" targetFramework="net451" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net451" />
  <package id="PCLCrypto" version="1.0.86" targetFramework="net451" />
  <package id="Validation" version="2.2.8" targetFramework="net451" />
</packages>